# Logging
BETTERSTACK_TOKEN='ouygfuyhhuivKmf'
BETTERSTACK_HOST='https://s15555555555523.eu-nbg-2.betterstackdata.com'

# Redis
REDIS_HOST='redis-1ghfghfghf8.c300.eu-central-1-2.ec2.cloud.redislabs.com'
REDIS_PORT=20000
REDIS_USERNAME="default"
REDIS_PASSWORD="KSKfhfghfghfghfl2lPQ8M9H2f4"


JWT_SECRET = 'mdsgjdhfgd77777777777hfghdfhgjhdfjkvhkdfbvkdfbdfjhbkdfjbhkdfhbjdfbkjhdfbkhdfbhj'